<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

#### Add your code below following the instructions given in the course

# My Jupyter Notebook on IBM Watson Studio

**Tiphaine Bayon**

Administrative Project Management

*I am interested in data science because I am confronted to large amounts of data in my actual position, without being able to manage them as efficiently as I would like to. I wish to be able to extract meaning to them.*

### My code is dividing 10 by 2.

In [1]:
print (10/2)

5.0

1. Example of numbered list, with an ~~Exemple~~ of strikethrough


2. Example of Table

| Example    | of          | organized Table    |
| -------    |------------ | :-------:          |
| column 3   | is set as centered | OK          |
| column 3   | is set as centered | OK          |



3. Example of bulleted list
   * First bullet
   * Second bullet



4. Example of link
[Link to google image](https://www.google.com/search?q=image&rlz=1C1GCEB_en__925__925&source=lnms&tbm=isch&sa=X&ved=2ahUKEwjMrpvE5_r4AhUE36QKHbFdDSsQ_AUoAXoECAIQAw&biw=1680&bih=907&dpr=1)